<!DOCTYPE html>

<html>
    <body>
        <form action = "/" method = "post">
            
            <label>Name</label><br>
            <input type = 'text' name = 'name'><br><br>

            <label>Description</label><br>
            <input type = 'text' name = 'description'><br><br>

            <label>12-vni-range</label><br>
            <input type = 'text' name = '12-vni- range'><br><br>

            <label>13-vni-range</label><br>
            <input type = 'text' name = '13-vni-range'><br><br>

            <label>num-of-vrf</label><br>
            <input type = 'text' name = 'num-of-vrf'><br><br>

            <input type = 'submit' value = 'Submit'>
        </form>
    </body>
</html>
